
/* line 29, ../scss/icube/_reset-magento.scss */
.block-title h2, .block-title h3, .block-title strong {
  color: inherit;
}

/* line 37, ../scss/icube/_reset-magento.scss */
.no-touch .product-image:hover {
  border-color: initital;
}

/* line 43, ../scss/icube/_reset-magento.scss */
body .main-container {
  padding: 0;
}

/* line 47, ../scss/icube/_reset-magento.scss */
button, .button {
  background: #fed807;
}
/* line 50, ../scss/icube/_reset-magento.scss */
button:hover, .button:hover {
  background: #fed807;
}

/* line 55, ../scss/icube/_reset-magento.scss */
ul,
.std ul,
li,
.std ul li {
  margin: 0;
  padding: 0;
}

/* line 63, ../scss/icube/_reset-magento.scss */
.cms-page-view .std p,
.cms-no-route .std p {
  font-family: inherit;
  font-style: normal;
}

/* line 69, ../scss/icube/_reset-magento.scss */
.cms-page-view .std li,
.cms-no-route .std li {
  font-style: normal;
}

/* line 74, ../scss/icube/_reset-magento.scss */
.product-image-thumbs li:first-child {
  margin-left: 0;
}

/* line 78, ../scss/icube/_reset-magento.scss */
.breadcrumbs li,
.block-related .block-title h2,
label,
.button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button,
form .form-instructions,
.cart-table,
.cart-table .product-cart-sku,
.cart-table thead th,
.cart-table tbody td,
.block-title h2,
.block-title h3,
.block-title strong,
.block-progress dt,
.data-table tbody td,
.data-table tfoot td,
.data-table th,
.block-progress dd {
  font-family: inherit;
}

/* line 101, ../scss/icube/_reset-magento.scss */
.customer-account-login .col2-set .buttons-set button,
.customer-account-login .col2-set .buttons-set .button {
  min-width: 0;
}

/*----------------------------------------------------------------------------*/
/* Responsive
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Global
/*----------------------------------------------------------------------------*/
/* line 9, ../scss/icube/_responsive.scss */
html {
  font-size: 100%;
}

/*----------------------------------------------------------------------------*/
/* Update Magento default breakpoints here: ../_var.scss
/* Breakpoint mixin and width variables (no units).
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Images
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Font size and related styles. Use mixin to set all font sizes/styles.
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Helper Functions
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Helper Mixins
/*----------------------------------------------------------------------------*/
/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
/*----------------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------------*/
/*
    Standard table-less layouts. Apply mixin to container element. Use html from example layout links below.
    IDs changed to classes to allow multiple tables per page.
    Class names simplified to be more friendly.

    Table layouts for reference:
    2 column: http://www.dynamicdrive.com/style/layouts/category/C9/
    3 column: http://www.dynamicdrive.com/style/layouts/category/C10/
*/
/*----------------------------------------------------------------------------*/
/* CSS Fixed Layout #3.1- (Fixed-Fixed-Fixed)
/*----------------------------------------------------------------------------*/
/*
    http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-33-fluid-fluid-fluid/

    <div class="column-middle-container">
        <div class="column middle">
            Middle Column
        </div>
    </div>

    <div class="column left">
        Left Column
    </div>

    <div class="column right">
        Right Column
    </div>
*/
/*----------------------------------------------------------------------------*/
/* CSS Liquid Layout #2.2- (Fluid-Fixed)
/*----------------------------------------------------------------------------*/
/*
    http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-22-fluid-fixed/

    <div class="column-left-container">
        <div class="column left">
            Left Column
        </div>
    </div>

    <div class="column right">
        Right Column
    </div>
*/
/*----------------------------------------------------------------------------*/
/* Define project button mixins. Add/subtract/customize as needed by project.
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Standard button styles. In general, do not modify these.
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Button
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Banner Enhanced (Home)
/*----------------------------------------------------------------------------*/
/* line 5, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container {
  /*----------------------------------------------------------------------------*/
  /* Cycle Pager
  /*----------------------------------------------------------------------------*/
}
/* line 9, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container .banners > .banner {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 1450px;
  padding: 0;
}
/* line 21, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container .banners .navigation {
  position: absolute;
  z-index: 102;
  top: 25%;
  width: 47px;
  height: 108px;
  cursor: pointer;
}
/* line 30, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container .banners .cycle-next {
  right: 0;
  background-image: url('../images/sprites-s96c2a615f7.png');
  background-position: 0 -10px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 108px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 30, ../scss/icube/_banner-enhanced.scss */
  .cms-home #banners-container .banners .cycle-next {
    background-image: url('../images/sprites2x-s7df0bd6dcf.png');
    background-size: 25px 237px;
    background-position: 0 -5px;
    height: 54px;
    width: 23.5px;
  }
}
/* line 35, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container .banners .cycle-prev {
  left: 0;
  background-image: url('../images/sprites-s96c2a615f7.png');
  background-position: 0 -118px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 108px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 35, ../scss/icube/_banner-enhanced.scss */
  .cms-home #banners-container .banners .cycle-prev {
    background-image: url('../images/sprites2x-s7df0bd6dcf.png');
    background-size: 25px 237px;
    background-position: 0 -59px;
    height: 54px;
    width: 23.5px;
  }
}
/* line 45, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container .cycle-pager {
  position: absolute;
  z-index: 102;
  bottom: 3.5%;
  width: 100%;
  text-align: center;
}
@media handheld, screen and (max-width: 639px) {
  /* line 45, ../scss/icube/_banner-enhanced.scss */
  .cms-home #banners-container .cycle-pager {
    bottom: 10%;
  }
}
/* line 56, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container .cycle-pager span {
  margin-right: 0.15%;
  background-image: url('../images/sprites-s96c2a615f7.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 10px;
  width: 11px;
  display: inline-block;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 56, ../scss/icube/_banner-enhanced.scss */
  .cms-home #banners-container .cycle-pager span {
    background-image: url('../images/sprites2x-s7df0bd6dcf.png');
    background-size: 25px 237px;
    background-position: 0 0;
    height: 5px;
    width: 5.5px;
  }
}
/* line 62, ../scss/icube/_banner-enhanced.scss */
.cms-home #banners-container .cycle-pager span.cycle-pager-active {
  background-image: url('../images/sprites-s96c2a615f7.png');
  background-position: -11px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 10px;
  width: 11px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 62, ../scss/icube/_banner-enhanced.scss */
  .cms-home #banners-container .cycle-pager span.cycle-pager-active {
    background-image: url('../images/sprites2x-s7df0bd6dcf.png');
    background-size: 25px 237px;
    background-position: -5px 0;
    height: 5px;
    width: 5.5px;
  }
}

/*----------------------------------------------------------------------------*/
/* Carousel
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Mixin
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Typography
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product Grid
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product List
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Global Mixins
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Messages
/*----------------------------------------------------------------------------*/
/* line 81, ../scss/icube/_global.scss */
.messages {
  /* success */
  /* error */
}

/*----------------------------------------------------------------------------*/
/* Breadcrumbs
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Forms, Input, Validation.
/*----------------------------------------------------------------------------*/
/* line 126, ../scss/icube/_global.scss */
.main ::-webkit-input-placeholder {
  color: #737373;
}
/* line 130, ../scss/icube/_global.scss */
.main :-moz-placeholder {
  /* Firefox 18- */
  color: #737373;
}
/* line 134, ../scss/icube/_global.scss */
.main ::-moz-placeholder {
  /* Firefox 19+ */
  color: #737373;
}
/* line 138, ../scss/icube/_global.scss */
.main :-ms-input-placeholder {
  color: #737373;
}

/*----------------------------------------------------------------------------*/
/* Global Styles
/*----------------------------------------------------------------------------*/
/* remove default dotted border while focusing to a link */
/* line 148, ../scss/icube/_global.scss */
a:active,
a:focus,
*:focus {
  outline: none;
  color: inherit;
  noFocusLine: expression(this.onFocus=this.blur());
}

/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Filter
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Toolbar
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product Image
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product Info
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Collateral Tabs
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Customer Review
/*----------------------------------------------------------------------------*/
/* line 5, ../scss/icube/_review.scss */
#customer-reviews {
  /* Start: Review List */
  /* End: Review List */
  /* Start: Form Review */
  /* End: Form Review */
}

/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Empty Cart
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Cart Table
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Cart Forms
/*----------------------------------------------------------------------------*/
/* Discount Form */
/* Shippng Form */
/*----------------------------------------------------------------------------*/
/* Totals
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Progress Bar
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* One Page Checkout (OPC) - Step 1 - Login
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 2 - Billing Address Form
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 3 - Shipping Address Form
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 4 - Shipping Method
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 5 - Payment Method
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Step 6 - Review
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* OPC - Order Confirmation
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Multiple Addresses Checkout (MAC) - General
/*----------------------------------------------------------------------------*/
/* Progress */
/*----------------------------------------------------------------------------*/
/* MAC - New & Edit Address Form
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Select Addresses
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Select Shipping Method
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Billing
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* MAC - Overview
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Login Page
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Registration Page
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Forgot Password
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Navigation
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - My Order Table
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Dashboard
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Customer Account Edit
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Address Book
/*----------------------------------------------------------------------------*/
/* Address Book Index */
/* Address Form */
/*----------------------------------------------------------------------------*/
/* My Account - Order History
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Order Detail
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Newsletter Subscription
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Product Review
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Product Review Detail
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Wishlist
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* My Account - Share Wishlist
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* All Pages
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure Page
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 1column
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-left
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-right
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Theme Structure 3columns
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Home
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Home: Banner
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Breadcrumbs
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Price Box
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Category/Search Page
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Toolbar
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product: Upsell (Also Bought)
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Product: Related
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* footer
/*----------------------------------------------------------------------------*/
