/*
Documentation:
    http://www.magentocommerce.com/knowledge-base/entry/ee114-ce19-rwd-dev-guide
    http://sass-lang.com/documentation/file.SASS_REFERENCE.html
    http://compass-style.org/
*/

@import 'icube/reset-magento';
@import 'icube/responsive';
@import 'icube/helper';
@import 'icube/retina-sprites';
@import 'icube/retina-background-image';
@import 'icube/table';
@import 'icube/button';
@import 'icube/banner-enhanced';
@import 'icube/carousel';
@import 'icube/typography';
@import 'icube/product-listing';
@import 'icube/global';
@import 'icube/homepage';
@import 'icube/cms';
@import 'icube/catalog';
@import 'icube/pdp';
@import 'icube/review';
@import 'icube/cart';
@import 'icube/checkout';
@import 'icube/customer';

/*----------------------------------------------------------------------------*/
/* All Pages
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Theme Structure Page
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Theme Structure 1column
/*----------------------------------------------------------------------------*/

.col1-layout {

    .col-main {
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-left
/*----------------------------------------------------------------------------*/

.col2-left-layout {

    .col-left {
    }

    .col-main {
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure 2columns-right
/*----------------------------------------------------------------------------*/

.col2-right-layout {

    .col-main {
     }

    .col-right {
    }
}

/*----------------------------------------------------------------------------*/
/* Theme Structure 3columns
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Home
/*----------------------------------------------------------------------------*/

body.cms-home {
}

/*----------------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Home: Banner
/*----------------------------------------------------------------------------*/

.banner-container {
}

/*----------------------------------------------------------------------------*/
/* Breadcrumbs
/*----------------------------------------------------------------------------*/

.breadcrumbs {
}

/*----------------------------------------------------------------------------*/
/* Price Box
/*----------------------------------------------------------------------------*/

.price-box {
}

/*----------------------------------------------------------------------------*/
/* Category/Search Page
/*----------------------------------------------------------------------------*/

.catalog-category-view,
.catalogsearch-result-index {
}

/*----------------------------------------------------------------------------*/
/* Toolbar
/*----------------------------------------------------------------------------*/

.toolbar{
    
}

/*----------------------------------------------------------------------------*/
/* Product: Upsell (Also Bought)
/*----------------------------------------------------------------------------*/

.product-view .box-up-sell {
}

/*----------------------------------------------------------------------------*/
/* Product: Related
/*----------------------------------------------------------------------------*/

.product-view .block-related {
}

/*----------------------------------------------------------------------------*/
/* footer
/*----------------------------------------------------------------------------*/

.footer {
}