/* 
 * Custom variable:
 * - All overridden/new variables can be added here
 */

/*----------------------------------------------------------------------------*/
/* Override Default Magento Vars
/*----------------------------------------------------------------------------*/

/* Primary breakpoint */
$bp-xsmall: 479px;
$bp-small: 639px;
$bp-medium: 767px;
$bp-large: 1023px;
$bp-xlarge: 1179px;

/* Base Values */
// $max-content-width: 1180px;

/* Typography */
// $f-stack-sans: 'Arial', sans-serif;
// $f-stack-serif: 'Arial', serif;
// $f-stack-special: 'Arial MT Condensed Light', sans-serif;
// $f-stack-default: $f-stack-sans;

/*----------------------------------------------------------------------------*/
/* New Custom Vars
/*----------------------------------------------------------------------------*/